/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
html, body {
  height:100%;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

button:not([disabled]) {
  cursor: url("../images/stuurwiel.png"), pointer;
}





/**********************/
/* CUSTOM PROPERTIES */
/**********************/
/*Kleuren voor light mode */
/* 0(donker),1,2,3,4,5,6,7,8(midden),9,A,B,C,D,E,F(licht) */
:root {
   --rainbow-gradient: linear-gradient(
    to right, 
    rgb(255,168,241),
    rgb(130,107,231),
    rgb(140,255,180),
    rgb(250,255,173),
    rgb(251,175,153),
    rgb(221, 83, 65)
  );
  /*Finishlijn*/
  --finishlijn-pattern: repeating-conic-gradient( 
    rgb(0 0 0 /0) 0% 25%,
    black 25% 50%
  );
  --finishlijn-dropshadow: #000000;

    /*H1 , p*/
  --tekst-kleur: #000000; 
  --tekst-kleur-button: #fff;
  --kleur-button: rgb(255, 54, 27);
  --kleur-button-hover: #F2D64F;

  --cloudguy-dropshadow: #0098;
  --tekstwolkje: white;

  --verkeerslicht-basis: black;
  --verkeerslicht-stip: gray;
  --verkeerslicht-eerstekleur: rgb(219, 43, 91);
  --verkeerslicht-tweedekleur:rgb(38,163, 252);
}

/*Kleuren voor darkmode*/
@media (prefers-color-scheme:dark) {
  :root {
    --rainbow-gradient: linear-gradient(
     to right, 
     #FFC7F6,
     #AD9EEF,
     #B3FFCD,
     #FBFFCA,
     #FCCABC,
     #E98F83
     /*alternatieve kleuren rainbow*/
     /*rgba(227,47,250,1),
      rgba(0,70,255,1),
      rgba(90,205,50,1),
      rgba(254,255,0,1),
      rgba(255,170,0,1),
      rgba(255,46,0,1)
      */
   );
    /*Finishlijn*/
   --finishlijn-pattern: repeating-conic-gradient( 
     rgb(0 0 0 /0) 0% 25%,
     black 25% 50%
   );
   --finishlijn-dropshadow: #000000;
 
    /*H1 , p*/
   --tekst-kleur: #000000; 
   --tekst-kleur-button: #fff;
   --kleur-button: rgb(255, 54, 27);
   --kleur-button-hover: rgb(243,29,1);
 
   --cloudguy-dropshadow: #0098;
   --tekstwolkje: white;
 
   --verkeerslicht-basis: black;
   --verkeerslicht-stip: gray;
   --verkeerslicht-eerstekleur: rgb(219, 43, 91);
   --verkeerslicht-tweedekleur:rgb(38,163, 252);
 }
}





/**********************/
/* ALGEMENE STIJLING; BODY*/
/**********************/
body {
  background-image:
  var(--rainbow-gradient); 
}

/*Veranderd background na klik op mushroom*/
body.y1992{
  animation-name: changeBackground;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes changeBackground {
  0%{
    background-image:
    var(--rainbow-gradient);
  }
  100%{
    background-image: url("../images/rainbowroad1992.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }
}

body.y2001{
  background-image: url("../images/rainbowroad2001.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

h1, p {
  color: var(--tekst-kleur);
  font-weight: bold;
  text-align: center;
  margin: .5em;

  /*Beter leesbaarheid van tekst bij andere achtergrond*/
  filter:
  drop-shadow(0 0 .25em dodgerblue)
  drop-shadow(0 0 .5em dodgerblue);
}





/**********************/
/* HEADER */
/**********************/
header{ /*Hulp van Sanne */
  display:grid; /*Centreren van button */
  place-items: center; 
}

/* Logo van Mario Kart */
header img{ 
  height: 8em;
}

/* start button */
header button{ 
  color: var(--tekst-kleur-button);
  background-color: var(--kleur-button);
  padding: 1em ;
  margin: 1em;
  border-style: none;
  border-radius: .5em;
}

header button:hover{
  background-color: var(--kleur-button-hover);
}

header button:active{
  /* bij klikken iets naar beneden */
	transform:translateY(2px);
}






/**********************/
/* SECTION 1 - CLOUDGUY */
/**********************/
/*Positioneren Cloudguy*/

section.cloudguy {
  position: fixed;
  z-index: 50;
  left:50%;
  top:calc(50% - 9em);

  pointer-events: none;
  /*Door filter volgt de schaduw alleen de trace van de afbeelding en niet van de box*/
  filter:drop-shadow(.5em 1em 1em var(--cloudguy-dropshadow));
}

/* wegvliegen */
.cloudGuyWegVliegen{
  animation-name: wegVliegen;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes wegVliegen {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(calc(-50vh - 20em));
  }
}

/* de cloudguy zelf */
section.cloudguy img{ 
  position: relative;
  width: 18em;
  z-index: 100;
}

/**********************/
/* SECTION 1 - VERKEERSLICHT */
/**********************/
/* Bron: https://codesandbox.io/s/6h6jg?file=/index.html */
/*verkeerslicht basisvorm */
.verkeerslicht { 
  background-color: var(--verkeerslicht-basis);
  width: 4.4em; 
  height: 10.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .6em .3em;
  border-radius: .6em;
  position: absolute;

  left:-1em;
  top:14.5em;
}

/* Verkeerslichten stip */
.verkeerslicht span { 
  width: 2.8em;
  height: 2.8em;

  border-radius: 50%;
  background-color: var(--verkeerslicht-stip);

  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(1){
  animation-name: stipBoven;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(2){
  animation-name: stipMidden;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(3){
  animation-name: stipOnder;
}

@keyframes stipBoven {
  0%,
  33% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  34%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100% {
    background-color: var(--verkeerslicht-tweedekleur);
    
  }
}

@keyframes stipMidden {
  0%,
  33% {
    background-color: var(--verkeerslicht-stip);
  }
  34%,
  66% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  67%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100% {
    background-color: var(--verkeerslicht-tweedekleur);
  }
}

@keyframes stipOnder {
  0%,
  66% {
    background-color: var(--verkeerslicht-stip);
  }
  67%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100%{
    background-color: var(--verkeerslicht-tweedekleur);
  }
}





/**********************/
/* SECTION 2; TIJDLIJN */
/**********************/

section.tijdlijn {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
}


/* de lijst met mushrooms */
section.tijdlijn ol{ 
  /* Hulp van Sanne */
  display: flex; 
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Hulp van Sanne */
section.tijdlijn li{ 
  position: relative;
  display: grid;
  justify-items: center;
}

/* het tekstwolkje */
section.tijdlijn p {
  position: absolute;
  bottom:calc(100% + 1.5em);
  left:50%;
  transform:translateX(-50%);

  width:9em;
  padding:.5em;

  background-color: var(--tekstwolkje);
  border-radius: .5em;
}

/* hulp van sanne */
/* het driehoekje aan de textbubble */
section.tijdlijn p::before {
  content:""; 
  position: absolute;
  top:100%;
  left:calc(50% - .5em);

  width:1em;
  height:1em;

  background: var(--tekstwolkje);
  clip-path:polygon(0 0, 100% 0, 50% 100%, 0 0);
}

/* de mushroom button */
section.tijdlijn li button{
  padding:0;
  font-size: 1em;
  background: none;
  border: none;
}

section.tijdlijn li button img{
 width: 3em;
}





/********************/
/* Afbeelding Mario */
/********************/
section.tijdlijn img.mario{ 
  position: absolute;
  left:.5em;
  bottom: 3.125em;
  height: 5em;
  pointer-events: none;
  transition: 2s;
}

/*Met hulp van Sanne veranderd van keyframes naar transition*/
section.tijdlijn img.mario.y1992{
  transition-delay: 3.5s;
  transform: translateX(8vw);
}


/*Na klik op mushroom verplaatst Mario een stukje verder*/
section.tijdlijn img.mario.y2001{
  transform: translateX(20vw);
  transition-delay: 0s;
}

section.tijdlijn img.mario.y2005{
  transform: translateX(38vw);
  transition-delay: 0s;
}

section.tijdlijn img.mario.y2008{
  transform: translateX(54vw);
  transition-delay: 0s;
}

section.tijdlijn img.mario.y2011{
  transform: translateX(70vw);
  transition-delay: 0s;
}

section.tijdlijn img.mario.y2017{
  transform: translateX(88vw);
  transition-delay: 0s;
}



/************************/
/* Code voor finishlijn */
/************************/
section.tijdlijn div.finishline {
  height: 3.125em;

  background-image:
    var(--finishlijn-pattern),
    var(--rainbow-gradient);
  background-size: 1.25em 1.25em, cover;

  box-shadow:inset 0 0 0 1px var(--finishlijn-dropshadow);

  animation-name: finishlijnAnimatie;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes finishlijnAnimatie{
  0% {
    /*Bron: hulp van Sanne */ 
    background-position: left top, center center; 
  }
  100%{
    /*Schaakbord pattern wordt herhaald, maar vanaf een ander startpunt*/
    background-position: -1.25em top, center center;
  }
}