/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
html, body {
  height:100%;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}





/**********************/
/* CUSTOM PROPERTIES */
/**********************/
/*Kleuren voor light mode */
:root {
   --rainbow-gradient: linear-gradient(
    to right, 
    rgb(255,168,241),
    rgb(130,107,231),
    rgb(140,255,180),
    rgb(250,255,173),
    rgb(251,175,153),
    rgb(221, 83, 65)
  );

  --finishlijn-pattern: repeating-conic-gradient( /*Finishlijn*/
    rgb(0 0 0 /0) 0% 25%,
    black 25% 50%
  );
  --finishlijn-dropshadow: #000000;

  --tekst-kleur: #000000; /*H1 , p*/
  --tekst-kleur-button: #fff;
  --kleur-button: rgb(255, 54, 27);
  --kleur-button-hover: rgb(243,29,1);

  --cloudguy-dropshadow: #0098;
  --tekstwolkje: white;

  --verkeerslicht-basis: black;
  --verkeerslicht-stip: gray;
  --verkeerslicht-eerstekleur: rgb(219, 43, 91);
  --verkeerslicht-tweedekleur:rgb(38,163, 252);
}

/*Kleuren voor darkmode*/
 @media (prefers-color-scheme:dark) {
  :root {
    --rainbow-gradient: linear-gradient(
     to right, 
     #FFC7F6,
     #AD9EEF,
     #B3FFCD,
     #FBFFCA,
     #FCCABC,
     #E98F83
   );
 
   --finishlijn-pattern: repeating-conic-gradient( /*Finishlijn*/
     rgb(0 0 0 /0) 0% 25%,
     black 25% 50%
   );
   --finishlijn-dropshadow: #000000;
 
   --tekst-kleur: #000000; /*H1 , p*/
   --tekst-kleur-button: #fff;
   --kleur-button: yellow;
   --kleur-button-hover: rgb(243,29,1);
 
   --cloudguy-dropshadow: #0098;
   --tekstwolkje: white;
 
   --verkeerslicht-basis: black;
   --verkeerslicht-stip: gray;
   --verkeerslicht-eerstekleur: rgb(219, 43, 91);
   --verkeerslicht-tweedekleur:rgb(38,163, 252);
  }
}

/**********************/
/* ALGEMENE STIJLING; BODY*/
/**********************/
body {
  background-image:
  var(--rainbow-gradient);
  /* background-image: url("../images/mushroom.png"); */
}
/* OM EEN BACKGROUND IMAGE TOE TE VOEGEN MAAK EEN CLASS AAN */

h1, p {
  color: var(--tekst-kleur);
  font-weight: bold;
  text-align: center;
  margin: .5em;
}



/**********************/
/* HEADER */
/**********************/
header{ /*Hulp van Sanne */
  display:grid; /*Centreren van button */
  place-items: center; 
}

/* logo */
header img{ /* Logo van Mario Kart */
  height: 8em;
}

/* play button */
header button{ 
  color: var(--tekst-kleur-button);
  background-color: var(--kleur-button);
  padding: 1em 3em ;
  border-style: none;
  border-radius: .5em;
}

header button:hover{
  background-color: var(--kleur-button-hover);
}






/**********************/
/* SECTION 1 - CLOUDGUY */
/**********************/
/*Positioneren Cloudguy*/

section.cloudguy {
  position: fixed;
  z-index: 50;
  left:50%;
  top:calc(50% - 9em);

  pointer-events: none;

  filter:drop-shadow(.5em 1em 1em var(--cloudguy-dropshadow));
}

/* wegvliegen */
.cloudGuyWegVliegen{
  animation-name: wegVliegen;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes wegVliegen {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(calc(-50vh - 20em));
  }
}

/* de cloudguy zelf */
section.cloudguy img{ 
  position: relative;
  width: 18em;
  z-index: 100;
}

/**********************/
/* ARTICLE 2; VERKEERSLICHT */
/**********************/
/* Bron: https://codesandbox.io/s/6h6jg?file=/index.html */
/*verkeerslicht basisvorm */
.verkeerslicht { 
  background-color: var(--verkeerslicht-basis);
  width: 70px; /* BAH BAH BAH BAH pixels */
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
  position: absolute;

  left:-1em;
  top:14.5em;
}

/* Verkeerslichten */
.verkeerslicht span { 
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: var(--verkeerslicht-stip);

  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(1){
  animation-name: stipBoven;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(2){
  animation-name: stipMidden;
}
.verkeerslicht.verkeerslichtAan span:nth-of-type(3){
  animation-name: stipOnder;
}

@keyframes stipBoven {
  0%,
  33% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  34%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100% {
    background-color: var(--verkeerslicht-tweedekleur);
    
  }
}

@keyframes stipMidden {
  0%,
  33% {
    background-color: var(--verkeerslicht-stip);
  }
  34%,
  66% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  67%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100% {
    background-color: var(--verkeerslicht-tweedekleur);
  }
}

@keyframes stipOnder {
  0%,
  66% {
    background-color: var(--verkeerslicht-stip);
  }
  67%,
  75% {
    background-color: var(--verkeerslicht-eerstekleur);
  }
  85%,
  100%{
    background-color: var(--verkeerslicht-tweedekleur);
  }
}





/**********************/
/* ARTICLE 3; TIJDLIJN */
/**********************/

section.tijdlijn {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
}


/* de lijst met champions */
section.tijdlijn ol{ 
  /* Hulp van Sanne */
  display: flex; 
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Hulp van Sanne */
section.tijdlijn li{ 
  position: relative;
  display: grid;
  justify-items: center;
}

/* de p */
section.tijdlijn p {
  position: absolute;
  bottom:calc(100% + 1.5em);
  left:50%;
  transform:translateX(-50%);

  width:9em;
  padding:.5em;

  background-color: var(--tekstwolkje);
  border-radius: .5em;
}

/* hulp van sanne */
/* het driehoekje aan de textbubble */
section.tijdlijn p::before {
  content:""; 
  position: absolute;
  top:100%;
  left:calc(50% - .5em);

  width:1em;
  height:1em;

  background: var(--tekstwolkje);
  clip-path:polygon(0 0, 100% 0, 50% 100%, 0 0);
}

/* de button */
section.tijdlijn li button{
  padding:0;
  font-size: 1em;
  background: none;
  border: none;
}

section.tijdlijn li button img{
 width: 3em;
}





/********************/
/* Afbeelding Mario */
/********************/
section.tijdlijn img.mario{ 
  position: absolute;
  left:3em;
  bottom: 3.125em;
  height: 5em;
  pointer-events: none;;
}





/************************/
/* Code voor finishlijn */
/************************/
section.tijdlijn div.finishline {
  height: 3.125em;

  background-image:
    var(--finishlijn-pattern),
    var(--rainbow-gradient);
  background-size: 1.25em 1.25em, cover;

  box-shadow:inset 0 0 0 1px var(--finishlijn-dropshadow);

  animation-name: finishlijnAnimatie;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes finishlijnAnimatie{
  0% {
    /*Bron: hulp van Sanne */
    background-position: left top, center center; 
  }
  100%{
    background-position: -1.25em top, center center;
  }
}